/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

main {
  padding: 4%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  line-height: 1.6;
  padding: 20px;
}

header,
footer {
  text-align: center;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.grid_3col_1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  flex-direction: column;
}

@media (min-width: 780px) {
  .grid_3col_1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
  }
}
